.accordion {
    max-width: 100%;
    margin: 0 auto;
    &-tit {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    &-box {
        margin-top: 3rem;
    }
}

.accordion-item {
    border: 1px solid #ddd;
    border-radius: 0.6rem;
    margin-bottom: 0.8rem;
}

.accordion-title {
    width: 100%;
    color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    font-weight: 500;
    background-color: #fff;
    transition: background-color 0.2s;
    &.on {
        background: #f3ab0e6c;
        color: #666;
    }
}

.accordion-title:hover {
    background-color: #eee;
    color: #444;
}

.accordion-title h3 {
    margin: 0;
    font-size: 1.2rem;
}

.accordion-content {
    padding: 15px;
    background-color: #fff;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: auto;
        opacity: 1;
    }
}
