.bottomSheet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    &__dim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
    &__popup {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-radius: 1.6rem 1.6rem 0 0;
        max-height: 92vh;
        font-size: 0;
        line-height: 1;
    }
    &__inner {
        padding: 0 1.6rem 12.2rem;
        line-height: 1;
    }
    &__header {
        padding: 2.4rem 0;
    }
    &__body {
        text-align: center;
        overflow-y: auto;
        max-height: calc(92vh - 18.8rem);
    }
    &__footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 1.6rem 4rem;
        background: #fff;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 600;
        color: #000;
    }
    &__close {
        position: absolute;
        top: 2.4rem;
        right: 1.6rem;
        width: 2.4rem;
        height: 2.4rem;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2px;
            height: 1.8rem;
            background: #111;
        }
        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}
