.tab-box {
    .tab-lists {
        border-bottom: 1px solid #ddd;
        .tab-item {
            font-size: 1.5rem;
            padding: 1rem 3rem;
            color: 333;
            font-weight: 500;
            &.active {
                font-weight: 600;
                border-bottom: 3px solid #f3aa0e;
                color: #f3aa0e;
            }
        }
    }
    .tab-body {
        padding: 3rem 2rem;
        font-size: 1.5rem;
    }
}
